@model PMS.Models.TblSalaryChanged

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TblSalaryChanged</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryCurrent" class="control-label"></label>
                <input asp-for="SalaryCurrent" class="form-control" />
                <span asp-validation-for="SalaryCurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryCalculate" class="control-label"></label>
                <input asp-for="SalaryCalculate" class="form-control" />
                <span asp-validation-for="SalaryCalculate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalConfficientCurrent" class="control-label"></label>
                <input asp-for="TotalConfficientCurrent" class="form-control" />
                <span asp-validation-for="TotalConfficientCurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalConfficientCalculator" class="control-label"></label>
                <input asp-for="TotalConfficientCalculator" class="form-control" />
                <span asp-validation-for="TotalConfficientCalculator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedUser" class="control-label"></label>
                <input asp-for="CreatedUser" class="form-control" />
                <span asp-validation-for="CreatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedUser" class="control-label"></label>
                <input asp-for="ModifiedUser" class="form-control" />
                <span asp-validation-for="ModifiedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

